/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
}
article {
}
h1 {
}
h2 {
}
img {
	max-width: 100%;
}
main {
}
section {
  display: flex;
  flex-flow: row wrap;
}
figure {
	margin: 0;
  background: black;
  border-radius: 5px;
  color: white;
  margin: 0 0 25px 0;
  padding: 10px;
  text-align: center;
}
figcaption {
  font-size: .8em;
}
body {
  font-size: 20px;
  margin: 5px;
}

h1 {
  font-size: 14px;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
body {
  background-color:red;
  font-size:medium
  margin: auto;
}
}
@media screen and (min-width: 768px) {
  main {
  display: flex;
  flex-direction: column;
}
}

@media screen and (min-width: 992px) {
  body {
    background-color: blueviolet;
    margin: 25px 10%
    max-width: 1130px;


  }

  }